<div style="padding-bottom: 10px;"> <a (click)="collapsed = !collapsed" >collapse</a>
  <div class="card bg-light mb-3">
    <div class="card-header">{{username}} <button mat-raised-button class="align-content-end" [disabled]="!loggedInCheck()" routerLink="new/{{cat_id}}/{{post_id}}/{{comment_id}}">New Comment</button></div>
    <div class="card-body" [hidden]="collapsed">
      <div [innerHTML]="content"></div>
    </div>
    <div style="padding: 20px;" [hidden]="collapsed">
      <div #appendHere>

      </div>
    </div>
    <div [hidden]="!collapsed">
  </div>


  </div>
</div>
