<div [hidden]="loading">
  <div class="modal-header">
    <h1 mat-dialog-title class="modal-title align-items-center">Create A Comment</h1>
  </div>
  <div mat-dialog-content class="modal-body">
    <p>Comment</p>
    <angular-editor placeholder="enter your comment here..." [(ngModel)]="data.data">

    </angular-editor>
  </div>
  <div mat-dialog-actions class="align-content-center">
    <button mat-button  type="button" class="btn btn-secondary" (click)="onNoClick()">Close</button>
    <button mat-button  class="btn btn-primary"  data-bs-dismiss="modal" [mat-dialog-close]="data">Ok</button>
  </div>
</div>
<div [hidden]="!loading">
  <h1 class="text-center">Loading</h1>
  <div class="loader"></div>
</div>


