
<div class="alert alert-dismissible alert-warning">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <h4 class="alert-heading">Warning!</h4>
  <p class="mb-0">this page is under construction.</p>
</div>
<div class="row" >
  <div class="col-sm-1"></div>
  <div class="card col-lg" style="height: 900px">
   <h1 class="card-header">Basic-Forum-Frontend (TBD)</h1>
    idk, link some posts here?
  </div>
  <div style="width:25%" class="col-sm-1 mb-3">
    <h1 class="card-header">Recent Events</h1>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Blue List Item</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">Make me a component</p>
        <small>and dynamically generate these?</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">White list item</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">make me into a component</p>
        <small class="text-muted">these would work well as a component</small>
      </a>
    </div>
  </div>

</div>
