<div class="form-group">
  <h1>Login</h1>
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username"
             required
             [(ngModel)]="credentials.uname" name="username"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Username is required
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password"
             required
             [(ngModel)]="credentials.pw" name="password"
              #password="ngModel">
    </div>
    <div [hidden]="password.valid || password.pristine"
         class="alert alert-danger">
          Password is required
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>

  </form>
</div>
<div>
  <div class="col-xs-3">Get Data</div>
  <button (click)="makeRequest()">get request</button>
  <div class="col-xs-9">{{login_resp.outcome}}</div>
</div>
<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Username</div>
    <div class="col-xs-9">{{ credentials.uname }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Password</div>
    <div class="col-xs-9">{{ credentials.pw }}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button>

</div>

